<h1>Hello, this is the list of public messages</h1>

	<% @messages.each do |message| %>
	<ul>
		<li>Message</li>
		<li><%= message.msg %></li>
		<li><%= link_to 'Show', message_path(message) %></li>
		<li><%= link_to 'Edit', edit_message_path(message) %></li>
		<li><%= link_to 'Delete', message_path(message),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
	</ul>
	<% end %>
