<h1>Contact us</h1>

<div class="container">

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<dl class="dl-horizontal">

			<dt><span class="glyphicon glyphicon-map-marker lead" aria-hidden="true"></span></dt>
			<dd><p class="lead">
				<strong>Honestly</strong><br>
				WDI-16<br>
				1520 2nd St<br>
				Santa Monica, CA 90401<br></p></dd>

			<dt><span class="glyphicon glyphicon-envelope lead" aria-hidden="true"></span></dt>
			<dd><p class="lead">hello@simplyhonest.me</p></dd>

		</dl>
	  </div>
	</div>

</div>


