<h1>How does this work?</h1>

<p class="lead"><strong>Simple. Just tell us what you truly feel about something or someone, and we'll sign a card with your message and send it for you</strong>. You keep your identity to yourself, and we make things better, one real message at a time.</p>
<p class="lead">However, there is one simple rule that we need you to follow, <strong>be responsible</strong>.</p>
<p class="lead">It is easy to send messages of hate, or shame or harass someone with a concealed identity. We are not here for that. We're here to help you send across your message, which you wouldn't have the courage to say in person.</p><br>
<p class="lead"><strong><em>How much does it cost?</em></strong></p>
<p class="lead">It costs $3 per card.</p>
<p class="lead"><strong><em>How are you going to send the card?</em></strong></p>
<p class="lead">We'll send the card via the U.S. Postal Service. This means that we cannot gurantee the time of delivery.</p>
<p class="lead"><strong><em>Can I have a card sent to a foreign address?</em></strong></p>
<p class="lead">No. We can only send cards to address within the United States.</p>
<p class="lead"><strong><em>Is there a limit on what I can write?</em></strong></p>
<p class="lead">Yes. You have up to 300 characters to use when writing your message.</p>
<p class="lead"><strong><em>What if I really want to make things better, but I'm so upset right now. Can I send a card with an inappropriate language?</em></strong></p>
<p class="lead">We totally feel you. That is why you can write your heart out for free when you create an account. Once your emotions have settled down, you can clean up your message and then we can send it for you. That is if you still need to. Sometimes, you just need to let it out and write it down. It helps a lot. Trust us, we know!</p>
<p class="lead"><strong><em>Will the whole world see my messages?</em></strong></p>
<p class="lead">No. However, you can choose to make your message visible to to public.</p>
<p class="lead"><strong><em>Why do I need to use your website if I can just write it in a piece of paper or in my email?</em></strong></p>
<p class="lead">Honestly, you don't need to. However, we can help you keep your identity when writing your true message.</p>

