<h1>Here are some real messages from our users.</h1>
	
	<div class="container-fluid">

		<div class="row">
    	
		<% @messages.each do |message| %>

            <div class="col-md-2">
              <h4><%= message.to_name %></h4>
              <p><%= message.msg %></p>
              <% if message.user == current_user %>
              	<p><%= link_to 'View details', message_path(message), class: "btn btn-default" %> </p>
              <% end %>
	        </div><!--/.col-xs-4-->

        <% end %>

        </div><!--/row-->

	</div><!-- /container -->

